.header {
  display: flex;
  background-image: url(../../images/1.png);
  background-repeat: no-repeat;
  border: 15px solid rgb(237, 230, 41);
}
.img_boy {
  width: 60%;
  height: 100%;
  background-image: url(../../images/2.png);
  background-repeat: inherit;
}
.img_girl {
  width: 40%;
  background-repeat: no-repeat;
}
.header_name {
  padding-top: 60px;
  color: rgb(10, 64, 134);
  background-repeat: no-repeat;
  background-position-x: right;
}
body {
  background-image: url(../../images/5.png);
}
.start {
  display: flex;
  flex-direction: column;
}
.vector {
  padding-top: 55%;
}
.logo {
  font-weight: bolder;
  padding-top: 10px;
  padding-left: 30px;
  font-size: larger;
}
