.header {
  width: 800px;
  display: flex;
  background-image: url(../../images/1.png);
  background-repeat: no-repeat;
  border: 10px solid rgb(10, 64, 134);
}
.img_boy {
  width: 60%;
  height: 100%;
  background-image: url(../../images/2.png);
  background-repeat: inherit;
}
.img_girl {
  width: 40%;
}
.header_name {
  padding-top: 70px;
  padding-left: 20px;
  color: rgb(10, 64, 134);
  background-repeat: no-repeat;
  background-position-x: right;
}
.header_img {
  background-repeat: no-repeat;
  background-image: url(../../images/3.png);
  background-position: right top;
  background-position-x: right;
}
body {
  background-image: url(../../images/5.png);
}
.start {
  display: flex;
  flex-direction: column;
}
.vector {
  padding-top: 55%;
}
.logo {
  font-weight: bolder;
  border: 2px solid gold;
  margin-left: 20px;
  font-size: larger;
  width: 50px;
  text-align: center;
  margin-top: 5px;
  color: gold;
}
