.tableContainer {
  background-color: rgb(237, 230, 41);
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 5px;
}
.table {
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  border-radius: 10px;
  z-index: 1;
}
table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}
.button {
  font-family: "Wellfleet", monospace;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #ddd;
}
.edit {
  border: 2px solid rgb(45, 138, 189);
}
.save {
  background-color: #b8f5c6;
  margin-right: 5px;
}
.cancel {
  background-color: #f5b09b;
  margin-right: 5px;
}
