/* Carousel.module.css */
.carousel {
  display: flex;
  width: 70%;
  margin-left: 23%;
  font-family: "Wellfleet", monospace;
}

.active {
  padding-top: 50px;
  display: block;
  margin: 0 auto;
}

.inactive {
  display: none;
}

button {
  border: none;
  background: none;
}
.translate {
  height: 30px;
  background-color: rgb(73, 190, 206);
  border-radius: 20px;
  border: 3px solid rgb(223, 26, 26);
}
